<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <p>This site was created by Sanjay Sekar Samuel. It uses data from the satelite Weather servers. </p>
        <p> To know more about my works and services, please come and visit my website http://sanjaysekarsamuel.com/</p>
        <img class = "portrait" src="/img/me.png ">
    </div>

    {{>footer}}
</body>

</html>